In [3]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
path="C:\\Users\\stan\\Google Drive\\MSc BA\\Courses\\Data Analytics\\Data\\"
sym_file="symbology.csv"
pureTwt='twitter_noretweets_daily.csv'
reTwt='twitter_withretweets_daily.csv'
stockTwt='stocktwits_daily.csv'

In [4]:
sym=pd.read_csv(filepath_or_buffer=path+sym_file,delimiter=",",header=0)

In [5]:
ptwt=pd.read_csv(filepath_or_buffer=path+pureTwt,delimiter=",",header=0)

In [ ]:
rtwt=pd.read_csv(filepath_or_buffer=path+reTwt,delimiter=",",header=0)

In [7]:
stwt=pd.read_csv(filepath_or_buffer=path+stockTwt,delimiter=",",header=0)

In [93]:
#make a sample of observations for tests
spl_ptwt=ptwt.sample(1000)

In [104]:
time=pd.to_datetime(arg=spl_ptwt.TIMESTAMP_UTC,infer_datetime_format='true')
df=spl_ptwt.copy()
df['date']=time
mask = (df['date'] > '2010-1-1') & (df['date'] < '2011-1-1')
print(df.loc[mask].head())

                     SOURCE SYMBOL         TIMESTAMP_UTC  BULLISH_INTENSITY  \
2836434  twitter_noretweets    KKD  2010-12-29T05:00:00Z               0.00
3903362  twitter_noretweets    PMF  2010-12-14T05:00:00Z               2.39
3650312  twitter_noretweets   OJ_F  2010-12-17T05:00:00Z               0.00
395676   twitter_noretweets     AT  2010-12-15T05:00:00Z               0.00
4185366  twitter_noretweets   RLOC  2010-12-24T05:00:00Z               0.00

         BEARISH_INTENSITY  BULL_MINUS_BEAR  BULL_SCORED_MESSAGES  \
2836434               2.63            -2.63                     0
3903362               0.00             2.39                     4
3650312               0.00             0.00                     0
395676                0.00             0.00                     0
4185366               0.00             0.00                     0

         BEAR_SCORED_MESSAGES  BULL_BEAR_MSG_RATIO  TOTAL_SCANNED_MESSAGES  \
2836434                     2                    0                       6
3903362                     0                    0                       4
3650312                     0                    0                       1
395676                      0                    0                       1
4185366                     0                    0                       1

                       date
2836434 2010-12-29 05:00:00
3903362 2010-12-14 05:00:00
3650312 2010-12-17 05:00:00
395676  2010-12-15 05:00:00
4185366 2010-12-24 05:00:00

In [107]:
df.groupby(df['date'].dt.day).agg({})

1     34
2     40
3     37
4     29
5     29
6     29
7     38
8     30
9     22
10    37
11    29
12    35
13    31
14    33
15    36
16    30
17    39
18    17
19    23
20    29
21    33
22    35
23    33
24    40
25    31
26    45
27    43
28    31
29    37
30    30
31    15
dtype: int64

In [ ]:
#print([x.year for x in time])

In [102]:
year=pd.Period('2010')
mask = (spl_ptwt.TIMESTAMP_UTC > datetime(2010,1,1) & (spl_ptwt.TIMESTAMP_UTC < datetime(2016,1,1)
spl_ptwt.loc[mask]

SyntaxError: invalid syntax (<ipython-input-102-b38a428e54c8>, line 3)

In [100]:
print(mask)

3838081    False
2452017    False
1071254    False
1752087    False
252418     False
5427807    False
4924759    False
1701903    False
4288656    False
1721912    False
2160849    False
5399157    False
665179     False
4217660    False
399781     False
3085960    False
5371363    False
3419710    False
2928491    False
3638781    False
4636966    False
5363585    False
4048398    False
3874683    False
1404534    False
3950076    False
1764341    False
3440070    False
3963345    False
1762998    False
           ...
1518840    False
2907981    False
4303255    False
4198587    False
3702907    False
1404259    False
2262191    False
297593     False
2829824    False
999971     False
5253771    False
835531     False
3898886    False
759686     False
82874      False
5106884    False
2483705    False
4225942    False
5031379    False
801431     False
5202527    False
4736247    False
2913922    False
2299129    False
1460479    False
4936327    False
1728860    False
2591069    False
4570320    False
458739     False
Name: date, dtype: bool

In [66]:
s=pd.Series([1,2,3,'a'])
s[(s==2) | (s=='a')]

1    2
3    a
dtype: object

In [116]:
year=pd.Period('2010')
day=pd.Timestamp('2010-01-01')
day<=year

TypeError: Cannot compare type 'Timestamp' with type 'Period'