In [3]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
matplotlib.style.use('ggplot')

In [2]:
#how to create a Series
s=pd.Series([1,3,4,np.nan,5,8])

In [3]:
s

0     1
1     3
2     4
3   NaN
4     5
5     8
dtype: float64

In [ ]:
s=pd.Series([1,2,3,'a'])
s[(s==2) | (s=='a')]

In [4]:
#how to create a DataFrame
dates=pd.date_range('20000101',periods=9)
df=pd.DataFrame(np.random.randn(9,4),index=dates,columns=list('ABCD'))

In [5]:
df

                   A         B         C         D
2000-01-01 -0.626526  1.064204  0.758754 -0.094312
2000-01-02 -1.454424  1.131540  0.811271  0.437446
2000-01-03 -2.124844 -0.104766 -0.560157 -0.585750
2000-01-04  1.715515  1.776434 -0.198821 -0.099444
2000-01-05 -0.916787  0.291477 -0.765149 -0.716568
2000-01-06 -0.527358  0.360792  0.727671 -0.597690
2000-01-07 -0.781677 -2.238795  1.889409 -1.165917
2000-01-08  0.984271  0.718493 -0.863216 -0.011764
2000-01-09  0.760738 -1.775634 -1.165323 -1.288016

In [18]:
df['2000-01':'2000-01-04']

                   A         B         C         D
2000-01-01  0.193471 -0.219542  1.419361 -0.990787
2000-01-02  0.422947  0.026119  0.834805  0.599021
2000-01-03  1.929653 -0.198232 -0.153435  0.382690
2000-01-04  0.187155  0.187613  1.242034 -1.188389

In [19]:
df['2000']

                   A         B         C         D
2000-01-01  0.193471 -0.219542  1.419361 -0.990787
2000-01-02  0.422947  0.026119  0.834805  0.599021
2000-01-03  1.929653 -0.198232 -0.153435  0.382690
2000-01-04  0.187155  0.187613  1.242034 -1.188389
2000-01-05  0.904376  0.774951 -0.270099 -1.738875
2000-01-06 -1.097730 -0.464927  0.165614 -0.746640

In [25]:
df.index.year

array([2000, 2000, 2000, 2000, 2000, 2000])

This shows how to create a multiindex based on dates and stock symbols

In [6]:
dates=pd.DatetimeIndex(['20010101','20010102','20010103','20010101','20010102','20010104','20010102','20010103','20010104'])
dates

DatetimeIndex(['2001-01-01', '2001-01-02', '2001-01-03', '2001-01-01',
               '2001-01-02', '2001-01-04', '2001-01-02', '2001-01-03',
               '2001-01-04'],
              dtype='datetime64[ns]', freq=None, tz=None)

In [7]:
sym=pd.Series(['goog','goog','goog','ge','ge','apl','mrq','mrq','mrq'])
sym

0    goog
1    goog
2    goog
3      ge
4      ge
5     apl
6     mrq
7     mrq
8     mrq
dtype: object

In [8]:
array=[sym,dates]
mindex=pd.MultiIndex.from_arrays(array,names=['sym','dates'])
mindex

MultiIndex(levels=[[u'apl', u'ge', u'goog', u'mrq'], [2001-01-01 00:00:00, 2001-01-02 00:00:00, 2001-01-03 00:00:00, 2001-01-04 00:00:00]],
           labels=[[2, 2, 2, 1, 1, 0, 3, 3, 3], [0, 1, 2, 0, 1, 3, 1, 2, 3]],
           names=[u'sym', u'dates'])

In [9]:
s=pd.Series(np.random.randn(9),index=mindex)
s

sym   dates
goog  2001-01-01    0.011432
      2001-01-02   -0.254581
      2001-01-03    0.299121
ge    2001-01-01   -0.696564
      2001-01-02    1.078758
apl   2001-01-04   -0.378313
mrq   2001-01-02   -0.280819
      2001-01-03    0.967510
      2001-01-04   -0.205559
dtype: float64

In [10]:
panel=pd.DataFrame({'bear' : np.random.randn(9), 'bull' : np.random.randn(9)}, index=mindex)
panel

                     bear      bull
sym  dates
goog 2001-01-01  0.403929  1.269914
     2001-01-02  0.768623 -0.315670
     2001-01-03  1.209222 -0.007384
ge   2001-01-01  0.113695  1.328508
     2001-01-02  0.000254 -0.984252
apl  2001-01-04 -0.305123  0.755539
mrq  2001-01-02  0.112461 -1.289899
     2001-01-03 -1.240584 -1.151839
     2001-01-04  0.782277 -0.578175

In [11]:
panel.loc['goog']

                bear      bull
dates
2001-01-01  0.403929  1.269914
2001-01-02  0.768623 -0.315670
2001-01-03  1.209222 -0.007384

In [12]:
panel.loc['goog']['bull']

dates
2001-01-01    1.269914
2001-01-02   -0.315670
2001-01-03   -0.007384
Name: bull, dtype: float64

In [13]:
df2=pd.DataFrame({'bear':np.random.randn(9),'bull':np.random.randn(9)})
df2['sym']=sym
df2['dates']=dates
df2

       bear      bull   sym      dates
0 -0.180051  0.778601  goog 2001-01-01
1 -0.258697  0.269370  goog 2001-01-02
2  1.316401  0.703175  goog 2001-01-03
3 -0.796588  0.532980    ge 2001-01-01
4 -1.002252  0.038697    ge 2001-01-02
5  0.571033 -0.801806   apl 2001-01-04
6 -0.987874 -1.946720   mrq 2001-01-02
7 -1.615854  0.250257   mrq 2001-01-03
8 -0.456746  0.898749   mrq 2001-01-04

In [14]:
#groupby splits DataFrame into sub tables defined by groups of the specified column on which a function can be applied.
#Then the result is combined back. 
df2.groupby('sym').size()

sym
apl     1
ge      2
goog    3
mrq     3
dtype: int64

In [15]:
df2.groupby('sym').mean()

          bear      bull
sym
apl   0.571033 -0.801806
ge   -0.899420  0.285838
goog  0.292551  0.583715
mrq  -1.020158 -0.265904

In [16]:
df2.groupby('dates').mean()

                bear      bull
dates
2001-01-01 -0.488320  0.655791
2001-01-02 -0.749608 -0.546218
2001-01-03 -0.149727  0.476716
2001-01-04  0.057143  0.048472

In [17]:
rep=df2.groupby('dates').agg([np.mean,np.std])
rep

                bear                bull
                mean       std      mean       std
dates
2001-01-01 -0.488320  0.435958  0.655791  0.173680
2001-01-02 -0.749608  0.425202 -0.546218  1.218342
2001-01-03 -0.149727  2.073418  0.476716  0.320261
2001-01-04  0.057143  0.726749  0.048472  1.202474

In [18]:
rep.columns

MultiIndex(levels=[[u'bear', u'bull'], [u'mean', u'std']],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

In [19]:
#this gives about 95% CI around the index
rep['bear']['std']

dates
2001-01-01    0.435958
2001-01-02    0.425202
2001-01-03    2.073418
2001-01-04    0.726749
Freq: D, Name: std, dtype: float64

In [20]:
plt.plot(rep.index,rep.bear['mean'],label='bearish')
plt.plot(rep.index,rep.bull['mean'],label='bullish')
plt.legend(loc='best')
plt.fill_between(rep.index, rep.bear['mean']-2*rep.bear['std'], rep.bear['mean']+2*rep.bear['std'], color='r', alpha=0.2)
plt.fill_between(rep.index, rep.bull['mean']-2*rep.bull['std'], rep.bull['mean']+2*rep.bull['std'], color='b', alpha=0.2)
plt.title('Time series of mean bearish and bullish sentiment with 95% CI')
plt.show()

In [26]:
dd=pd.DataFrame({'A':['a','a','b'],'B':[1,2,3],'C':[4,5,6]})
dd

   A  B  C
0  a  1  4
1  a  2  5
2  b  3  6

In [30]:
dd['index']=(dd.index).values
dd

   A  B  C  index
0  a  1  4      0
1  a  2  5      1
2  b  3  6      2

In [32]:
dd=dd.set_index(['index','A','B'])
dd

           C
index A B
0     a 1  4
1     a 2  5
2     b 3  6

In [4]:
df3=pd.DataFrame({'G':['qw','qw','po','po'],'A':[1,2,3,4],'B':[0,0,0,1],'C':[1,0,0,0]})
df3

   A  B  C   G
0  1  0  1  qw
1  2  0  0  qw
2  3  0  0  po
3  4  1  0  po

In [15]:
missC=df3['C']==0
df3=df3['A'].loc[]

TypeError: filter function returned a Series, but expected a scalar bool

In [5]:
a=3
a!=0

True